* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 150px;
  height: 100vh;
  background: red;
  overflow-y: auto;
}

.sidebar, .player {
  float: left;
}

.player {
  width: calc(100% - 150px);
  height: 100vh;
  background: lightcoral;
}
.playercode {
  width: 100%;
  height: 40px;
  background: green;
  border: 1px solid black;
}

.template {
  display: none;
}
